.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.login {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  background: #363635;
  box-shadow: 0px 3px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.title {
  color: #fffded;
}

.redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffded;
  gap: 12px;
  margin-top: 32px;
}

.linkbtn {
  background-color: transparent;
  border: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  color: #fe9148;
}
.linkbtn:hover {
  color: #fffded;
}
