.container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.button {
  width: 100%;
  max-width: 500px;
  height: 40px;
  padding: 0 44px;
  border-radius: 30px;
  border: 3px solid #fe9148;
  font-weight: 600;
  color: #fffded;
  background-color: #fe9148;
}

.button:hover {
  transition: ease-in;
  transition-duration: 0.3s;
  background-color: transparent;
  color: #fe9148;
}
