.grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-around;
}

.row_title {
  font-size: medium;
  font-weight: 800;
  color: #fffded;
}
