<<<<<<< HEAD
.footer{
     background: #FE9148;
     margin-top: auto;
     padding-top: 3em;
     width: 100%;
     color:white;
     position:relative;
     column-count: 3;
     left: 0px;
     top: 851px;
=======
.footer {
  background: #fe9148;
  margin-top: auto;
  padding-top: 3em;
  width: 100%;
  color: white;
  column-count: 3;
  position: absolute;
>>>>>>> 66cf18da47c778d36bd6dc3b75fbe3bf982aa7d0
}

.copyright {
  text-align: center;
  align-items: center;
}
