.footer {
  background: #fe9148;
  margin-top: auto;
  padding-top: 3em;
  width: 100%;
  color: white;
  column-count: 3;
  position: absolute;
}

.copyright {
  text-align: center;
  align-items: center;
}
